.header{
    padding: 8px;
    border: 2px solid black;
    text-align: center;
    width: 490px;
    font-size: 2em;
    corner-shape: bevel square bevel square;
    border-radius: 15px;
    transition: border-radius 0.6s,
        background-color 0.6s,
        color 0.6s,
        padding 1s cubic-bezier(0.33, 1, 0.68, 1),
        letter-spacing 1.3s;
    letter-spacing: 0px;
}
.header:hover{
    border-radius: 33px;
    color: white;
    background-color: black;
    letter-spacing: 9px;
    padding: 20px 8px;
}
a{
    color: black;
}

.container1{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.box{
    border: 2px solid black;
    padding: 10px;
    min-width: 200px;
    transition: all 0.6s
}
.box:hover{
    font-size: 1.21em;
}

html, body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Unifont, sans-serif
}
